# Process Data from Duke University and GfK's "Measuring Morality" project 

- **Goal**: Place data in format for interactive visualizations in D3.js

- **Dataset Source:** http://kenan.ethics.duke.edu/attitudes/resources/measuring-morality/
- **Codebook Source:** http://kenan.ethics.duke.edu/attitudes/files/2012/08/KN-Morality-Survey-Technical-Report.pdf



-----

# 1) Explore and Subset Data

In [78]:
import pandas as pd
import numpy as np
import csv

# read csv data as pandas dataframe

d = pd.read_csv('/Users/dschan/Downloads/UCB-MIDS-W209/Interactive/MMdata_merged.csv')

# check data type and shape

print type(d)
print "shape:", d.shape[0]
print

# select specific columns: weight column, demographic columns, and moral-related columns

d = d[[ 'weight',
        'core_par', 'ppagecat', 'PPETHM', 'PPEDUCAT', 'PPGENDER', 'PPINCCAT', 'PPREG4', 'PPSTATEN',
        'DPES11',
        'EPQ1',
        'I10',
        'IS1','IS6','IS8',
        'L1','L4','L9','L11',
        'MI9',
        'SV3','SV8','SV11','SV12','SV16','SV17','SV18','SV21',
        #'pppa0233',
        #'pphi0047','pphi0048',
        'TET7']]

# view column names 
print "column names:"
print list(d.columns.values)
print

# print example rows

print d.head()

<class 'pandas.core.frame.DataFrame'>
shape: 1519

column names:
['weight', 'core_par', 'ppagecat', 'PPETHM', 'PPEDUCAT', 'PPGENDER', 'PPINCCAT', 'PPREG4', 'PPSTATEN', 'DPES11', 'EPQ1', 'I10', 'IS1', 'IS6', 'IS8', 'L1', 'L4', 'L9', 'L11', 'MI9', 'SV3', 'SV8', 'SV11', 'SV12', 'SV16', 'SV17', 'SV18', 'SV21', 'TET7']

   weight  core_par  ppagecat  PPETHM  PPEDUCAT  PPGENDER  PPINCCAT  PPREG4  \
0    1.05         0         6       1         4         2         3       4
1    2.60         0         2       1         3         1         3       2
2    0.69         1         2       4         2         2         2       4
3    1.74         1         3       1         4         2         4       3
4    2.43         0         3       1         3         2         4       4

   PPSTATEN  DPES11  ...   MI9  SV3  SV8  SV11  SV12  SV16  SV17  SV18  SV21  \
0        81       5  ...     4    4    4     2    -1     1     3     3     4
1        47       5  ...     7    2    1     2     1     5     2     2     2
2        91       3  ...     4    1    5     4     2     1     1     1     5
3        56       6  ...     5    1    2     2     4     2     3     4     4
4        88       6  ...     4    3    3     4     4     3     3     3     3

   TET7
0     3
1     4
2     2
3     5
4     3

[5 rows x 29 columns]

# 2) Add Demographic Dictionaries for Readability

In [79]:
# create demographic dictionaries to later print readable values, not numeric keys

# 'core_par', 'ppagecat', 'PPETHM', 'PPEDUCAT', 'PPGENDER', 'PPINCCAT', 'PPREG4', PPSTATEN'

core_par = {-2: 'Not asked',
            -1: 'Refused',
             0: 'Not Parent',
             1: 'Parent'}

ppagecat = { 1: '18-24',
             2: '25-34',
             3: '35-44',
             4: '45-54',
             5: '55-64',
             6: '65-74',
             7: '75+',
            99: 'Under 18'}

PPETHM = {-2: 'Not asked',
          -1: 'REFUSED',
           1: 'White',
           2: 'Black',
           3: 'Other',
           4: 'Hispanic',
           5: '2+ Races, Non-Hispanic'}

PPEDUCAT = {-2: 'Not asked',
            -1: 'REFUSED',
             1: 'Less than high school',
             2: 'High school',
             3: 'Some college',
             4: 'Bachelor\'s degree or higher'}

PPGENDER = {-2: 'Not asked',
            -1: 'REFUSED',
             1: 'Male',
             2: 'Female'}

PPINCCAT = {-2: 'Not asked',
            -1: 'Refused',
             1: '<$10,000',
             2: '$10-49,999',
             3: '$50-74,999',
             4: '$75,000+'}

PPREG4 = {-2: 'Not asked',
          -1: 'REFUSED',
           1: 'Northeast',
           2: 'Midwest',
           3: 'South',
           4: 'West'}

PPSTATEN = { -2: 'Not asked'
            ,-1: 'REFUSED'
            ,11: 'ME'
            ,12: 'NH' 
            ,13: 'VT' 
            ,14: 'MA' 
            ,15: 'RI' 
            ,16: 'CT' 
            ,21: 'NY' 
            ,22: 'NJ' 
            ,23: 'PA' 
            ,31: 'OH' 
            ,32: 'IN'
            ,33: 'IL' 
            ,34: 'MI' 
            ,35: 'WI' 
            ,41: 'MN' 
            ,42: 'IA' 
            ,43: 'MO' 
            ,44: 'ND' 
            ,45: 'SD' 
            ,46: 'NE' 
            ,47: 'KS' 
            ,51: 'DE' 
            ,52: 'MD' 
            ,53: 'DC' 
            ,54: 'VA' 
            ,55: 'WV' 
            ,56: 'NC' 
            ,57: 'SC' 
            ,58: 'GA' 
            ,59: 'FL' 
            ,61: 'KY' 
            ,62: 'TN' 
            ,63: 'AL' 
            ,64: 'MS' 
            ,71: 'AR' 
            ,72: 'LA' 
            ,73: 'OK' 
            ,74: 'TX' 
            ,81: 'MT' 
            ,82: 'ID' 
            ,83: 'WY' 
            ,84: 'CO'
            ,85: 'NM' 
            ,86: 'AZ' 
            ,87: 'UT' 
            ,88: 'NV' 
            ,91: 'WA' 
            ,92: 'OR' 
            ,93: 'CA' 
            ,94: 'AK' 
            ,95: 'HI' 
            ,96: 'AS' 
            ,97: 'GU' 
            ,98: 'PR' 
            ,99: 'VI'}

print "before update:"
print d['core_par'][:5] 
print

# apply dictionaries to their corresponding columns

d['core_par'] = d['core_par'].apply(lambda x: core_par[x])
d['ppagecat'] = d['ppagecat'].apply(lambda x: ppagecat[x])
d['PPETHM'] = d['PPETHM'].apply(lambda x: PPETHM[x])
d['PPEDUCAT'] = d['PPEDUCAT'].apply(lambda x: PPEDUCAT[x])
d['PPGENDER'] = d['PPGENDER'].apply(lambda x: PPGENDER[x])
d['PPINCCAT'] = d['PPINCCAT'].apply(lambda x: PPINCCAT[x])
d['PPREG4'] = d['PPREG4'].apply(lambda x: PPREG4[x])
d['PPSTATEN'] = d['PPSTATEN'].apply(lambda x: PPSTATEN[x])

# quality check one case

print "after update:"
print d['core_par'][:5] 

'''
print d['ppagecat']
print d['PPETHM'] 
print d['PPEDUCAT'] 
print d['PPGENDER'] 
print d['PPINCCAT']
print d['PPREG4']
print d['PPSTATEN']
'''

before update:
0    0
1    0
2    1
3    1
4    0
Name: core_par, dtype: int64

after update:
0    Not Parent
1    Not Parent
2        Parent
3        Parent
4    Not Parent
Name: core_par, dtype: object

"\nprint d['ppagecat']\nprint d['PPETHM'] \nprint d['PPEDUCAT'] \nprint d['PPGENDER'] \nprint d['PPINCCAT']\nprint d['PPREG4']\nprint d['PPSTATEN']\n"

# 3) Recode Non-Demographic Column Values

In [80]:
# document scales of non-demographic columns of interest

'''
# columns with ascending response options (e.g., 1 = strongly agree)
'EPQ1' (1-7)
'I10' (1-5)
'L1' (1-7)
'SV' (1-7)
'pphi0047','pphi0048' (1-4)

# columns with descending response options (e.g., 7 = strongly disagree)
'DPES11' (1-7)
'IS1','IS6','IS8' (1-5)
'MI9' (1-7)
'TET' (1-5)

# columns that asks respondent to rank top categories
'MOPS11','MOPS12'
'''

# replace negative values with NaN (not a number)

for i in range(9, d.shape[1]):
    
    d[d.columns[i]] = d[d.columns[i]].replace(-1,np.NaN)
    d[d.columns[i]] = d[d.columns[i]].replace(-2,np.NaN)

# define function that, for example, transforms survey value from 1 to 7, 7 to 1, etc., 
# to normalize values across survey questions, where values 1 and 2 are always a yes-type response

# x refers to column, and xmax refers to the max possible value per the survey codebook

def reverse(x, xmax):
    x = xmax + 1 - x
    return x 
    
# invoke reverse function on appropriate columns

d.DPES11 = reverse(d.DPES11, 7)
d.IS1    = reverse(d.IS1, 5)
d.IS6    = reverse(d.IS6, 5)
d.IS8    = reverse(d.IS8, 5)
d.MI9    = reverse(d.MI9, 7)
d.TET7   = reverse(d.TET7, 5)

# store dataframe headers in an object to call this object in print statement later

headers = d.columns.values.tolist()

# loop through non-demographic columns, which start a index 9

for i in range(9, d.shape[1]):
    
    print "before recode:"
    print d[d.columns[i]][:5]
    print
    
    d[d.columns[i]] = d[d.columns[i]].replace(2,1)
    d[d.columns[i]] = d[d.columns[i]].replace(3,0)
    d[d.columns[i]] = d[d.columns[i]].replace(4,0)
    d[d.columns[i]] = d[d.columns[i]].replace(5,0)
    d[d.columns[i]] = d[d.columns[i]].replace(6,0)
    d[d.columns[i]] = d[d.columns[i]].replace(7,0)
    
    print "after recode:"
    print (d[d.columns[i]][:5])
    print

print d.describe()

'''
# comment out subset that removes missing values, and instead hold off until cell below to
# instead invoke on a column-by-column basis and thereby preserve more sample size

d = d.dropna(subset = 
      [ 'weight',
        'core_par', 'ppagecat', 'PPETHM', 'PPEDUCAT', 'PPGENDER', 'PPINCCAT', 'PPREG4', 'PPSTATEN',
        'DPES11',
        'EPQ1',
        'I10',
        'IS1','IS6','IS8',
        'L1','L4','L9','L11',
        'MI9',
        'SV3','SV8','SV11','SV12','SV16','SV17','SV18','SV21',
        #'pppa0233',
        #'pphi0047','pphi0048',
        'TET7'])
        
print d.shape
'''

before recode:
0    3
1    3
2    5
3    2
4    2
Name: DPES11, dtype: float64

after recode:
0    0
1    0
2    0
3    1
4    1
Name: DPES11, dtype: float64

before recode:
0    3
1    1
2    4
3    5
4    4
Name: EPQ1, dtype: float64

after recode:
0    0
1    1
2    0
3    0
4    0
Name: EPQ1, dtype: float64

before recode:
0    3
1    4
2    3
3    3
4    3
Name: I10, dtype: float64

after recode:
0    0
1    0
2    0
3    0
4    0
Name: I10, dtype: float64

before recode:
0    4
1    5
2    5
3    5
4    3
Name: IS1, dtype: float64

after recode:
0    0
1    0
2    0
3    0
4    0
Name: IS1, dtype: float64

before recode:
0    3
1    2
2    2
3    3
4    3
Name: IS6, dtype: float64

after recode:
0    0
1    1
2    1
3    0
4    0
Name: IS6, dtype: float64

before recode:
0    4
1    2
2    4
3    2
4    4
Name: IS8, dtype: float64

after recode:
0    0
1    1
2    0
3    1
4    0
Name: IS8, dtype: float64

before recode:
0    3
1    6
2    6
3    4
4    4
Name: L1, dtype: float64

after recode:
0    0
1    0
2    0
3    0
4    0
Name: L1, dtype: float64

before recode:
0    5
1    7
2    4
3    5
4    5
Name: L4, dtype: float64

after recode:
0    0
1    0
2    0
3    0
4    0
Name: L4, dtype: float64

before recode:
0    4
1    7
2    5
3    7
4    6
Name: L9, dtype: float64

after recode:
0    0
1    0
2    0
3    0
4    0
Name: L9, dtype: float64

before recode:
0    5
1    6
2    5
3    6
4    5
Name: L11, dtype: float64

after recode:
0    0
1    0
2    0
3    0
4    0
Name: L11, dtype: float64

before recode:
0    4
1    1
2    4
3    3
4    4
Name: MI9, dtype: float64

after recode:
0    0
1    1
2    0
3    0
4    0
Name: MI9, dtype: float64

before recode:
0    4
1    2
2    1
3    1
4    3
Name: SV3, dtype: float64

after recode:
0    0
1    1
2    1
3    1
4    0
Name: SV3, dtype: float64

before recode:
0    4
1    1
2    5
3    2
4    3
Name: SV8, dtype: float64

after recode:
0    0
1    1
2    0
3    1
4    0
Name: SV8, dtype: float64

before recode:
0    2
1    2
2    4
3    2
4    4
Name: SV11, dtype: float64

after recode:
0    1
1    1
2    0
3    1
4    0
Name: SV11, dtype: float64

before recode:
0   NaN
1     1
2     2
3     4
4     4
Name: SV12, dtype: float64

after recode:
0   NaN
1     1
2     1
3     0
4     0
Name: SV12, dtype: float64

before recode:
0    1
1    5
2    1
3    2
4    3
Name: SV16, dtype: float64

after recode:
0    1
1    0
2    1
3    1
4    0
Name: SV16, dtype: float64

before recode:
0    3
1    2
2    1
3    3
4    3
Name: SV17, dtype: float64

after recode:
0    0
1    1
2    1
3    0
4    0
Name: SV17, dtype: float64

before recode:
0    3
1    2
2    1
3    4
4    3
Name: SV18, dtype: float64

after recode:
0    0
1    1
2    1
3    0
4    0
Name: SV18, dtype: float64

before recode:
0    4
1    2
2    5
3    4
4    3
Name: SV21, dtype: float64

after recode:
0    0
1    1
2    0
3    0
4    0
Name: SV21, dtype: float64

before recode:
0    3
1    2
2    4
3    1
4    3
Name: TET7, dtype: float64

after recode:
0    0
1    1
2    0
3    1
4    0
Name: TET7, dtype: float64

            weight       DPES11         EPQ1          I10          IS1  \
count  1519.000000  1495.000000  1505.000000  1505.000000  1507.000000
mean      1.000112     0.501672     0.259801     0.497010     0.051095
std       0.734256     0.500165     0.438671     0.500157     0.220264
min       0.140000     0.000000     0.000000     0.000000     0.000000
25%       0.430000     0.000000     0.000000     0.000000     0.000000
50%       0.770000     1.000000     0.000000     0.000000     0.000000
75%       1.380000     1.000000     1.000000     1.000000     0.000000
max       3.560000     1.000000     1.000000     1.000000     1.000000

               IS6          IS8           L1           L4           L9  \
count  1505.000000  1505.000000  1503.000000  1503.000000  1499.000000
mean      0.712292     0.143522     0.079175     0.067199     0.018679
std       0.452845     0.350721     0.270102     0.250450     0.135434
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       1.000000     0.000000     0.000000     0.000000     0.000000
75%       1.000000     0.000000     0.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

          ...               MI9          SV3          SV8         SV11  \
count     ...       1499.000000  1502.000000  1498.000000  1494.000000
mean      ...          0.316211     0.633822     0.537383     0.633199
std       ...          0.465151     0.481920     0.498767     0.482093
min       ...          0.000000     0.000000     0.000000     0.000000
25%       ...          0.000000     0.000000     0.000000     0.000000
50%       ...          0.000000     1.000000     1.000000     1.000000
75%       ...          1.000000     1.000000     1.000000     1.000000
max       ...          1.000000     1.000000     1.000000     1.000000

             SV12         SV16         SV17         SV18         SV21  \
count  1492.00000  1496.000000  1504.000000  1493.000000  1494.000000
mean      0.58311     0.467246     0.230718     0.672472     0.325971
std       0.49321     0.499093     0.421432     0.469469     0.468893
min       0.00000     0.000000     0.000000     0.000000     0.000000
25%       0.00000     0.000000     0.000000     0.000000     0.000000
50%       1.00000     0.000000     0.000000     1.000000     0.000000
75%       1.00000     1.000000     0.000000     1.000000     1.000000
max       1.00000     1.000000     1.000000     1.000000     1.000000

              TET7
count  1502.000000
mean      0.701065
std       0.457944
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

[8 rows x 21 columns]

"\n# comment out subset that removes missing values, and instead hold off until cell below to\n# instead invoke on a column-by-column basis and thereby preserve more sample size\n\nd = d.dropna(subset = \n      [ 'weight',\n        'core_par', 'ppagecat', 'PPETHM', 'PPEDUCAT', 'PPGENDER', 'PPINCCAT', 'PPREG4', 'PPSTATEN',\n        'DPES11',\n        'EPQ1',\n        'I10',\n        'IS1','IS6','IS8',\n        'L1','L4','L9','L11',\n        'MI9',\n        'SV3','SV8','SV11','SV12','SV16','SV17','SV18','SV21',\n        #'pppa0233',\n        #'pphi0047','pphi0048',\n        'TET7'])\n        \nprint d.shape\n"

# 4) Weighted averages on dummy data (temp section)

In [81]:
# explore basic example of weighted column, not row, averages in Python

c1 = [.9, .1]
c2 = [.5, .5]

test = pd.DataFrame({'c1': [.7, .1],
                     'c2': [.5, .5]},
                    index = [1, 2])

print "shape:", test.shape
print
print "dataframe:"
print test[:]
print 

print "(0,0):", test.iloc[0][0]
print "(0,1):", test.iloc[0][1]
print "(1,0):", test.iloc[1][0]
print "(1,1):", test.iloc[1][1]
print 

# http://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.ma.average.html#numpy.ma.average
# purposely place the c2 as the weights, to calculate correctly

print "Manual weighted avg: weighted sum / sum of weights = (0.7*0.5 + 0.1*.05) / (0.5 + 0.5) = 0.4"
print "Python weighted avg:", round(np.average(a=test['c1'], weights=test['c2']),2)

shape: (2, 2)

dataframe:
    c1   c2
1  0.7  0.5
2  0.1  0.5

(0,0): 0.7
(0,1): 0.5
(1,0): 0.1
(1,1): 0.5

Manual weighted avg: weighted sum / sum of weights = (0.7*0.5 + 0.1*.05) / (0.5 + 0.5) = 0.4
Python weighted avg: 0.4

# 5) Export Weighted Averages, Grouped by Demographics

In [82]:
# explore weights further, now on some actual survey data 

# multiple column by post-stratification weight, which is important so the sample better reflects the population
# http://www.atlas.illinois.edu/support/stats/resources/spss/create-post-stratification-weights-for-survery-analysis.pdf

d['DPES11_wt'] = d.DPES11 * d.weight
print d.loc[:, ['weight','PPREG4','DPES11','DPES11_wt']][:10]
print

# calculate step-by-step weighted average (which overlooks if NaN exists)
print "1:", d.groupby(['PPREG4', 'PPGENDER']).apply(lambda x: np.sum(x.DPES11*x.weight))
print
print "1:", d.groupby(['PPREG4', 'PPGENDER']).apply(lambda x: np.sum(x.weight))
print
print "1:", d.groupby(['PPREG4', 'PPGENDER']).apply(lambda x: np.sum(x.DPES11*x.weight) / np.sum(x.weight))
print

'''
#temp = pd.DataFrame(d.groupby(['PPREG4', 'PPGENDER']).apply(lambda x: np.sum(x.DPES11*x.weight) / np.sum(x.weight)))
#temp.rename(columns = {0:'Weighted Pct'}, inplace = True)

# calculate with np.average function (which does not overlook if NaN exists) 
# option is to use mask function with np.ma.average, but avoid that after trial
# http://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.ma.masked_invalid.html

# print "2:", d.groupby(['PPREG4','PPGENDER']).apply(lambda x: np.average(a=x['DPES11'], weights=x['weight'], returned=True))
'''

# create wt_avg function that 
# 1) takes two demographic columns and a list of non-demographic columns,
# 2) scrolls through each non-demographic column to calculate the weighted average,
# 3) and exports data to one csv file per non-demographic column

def wt_avg(demo1, demo2, cnames):
    
    for cname in cnames:
        
        # subset given column to remove its rows with missing values, otherwise np.average runs into issues
        # http://stackoverflow.com/questions/13413590/how-to-drop-rows-of-pandas-dataframe-whose-value-of-certain-column-is-nan
        temp = d.dropna(subset = [cname])
        
        # take the groupby weighted average of given column
        temp = temp.groupby([demo1, demo2]).apply(lambda x: np.average(a=x[cname], weights=x['weight']))
        print temp
        print
        
        # export results to csv in format for D3.js graphs
        temp.to_csv('/Users/dschan/Downloads/UCB-MIDS-W209/Interactive/files_for_D3/' + 
            demo1 + "_" + demo2 + "_" + cname + '.csv', header=True, index=True)

# invoke wt_avg function

wt_avg('PPREG4', 
       'PPGENDER',
       ['DPES11', 'EPQ1', 'I10', 'IS1','IS6','IS8', 'L1','L4','L9','L11', 'MI9', 
        'SV3','SV8','SV11','SV12','SV16','SV17','SV18','SV21','TET7'])

   weight     PPREG4  DPES11  DPES11_wt
0    1.05       West       0       0.00
1    2.60    Midwest       0       0.00
2    0.69       West       0       0.00
3    1.74      South       1       1.74
4    2.43       West       1       2.43
5    2.72    Midwest       0       0.00
6    0.42    Midwest       0       0.00
7    0.29      South       1       0.29
8    0.76  Northeast       0       0.00
9    1.00       West       1       1.00

1: PPREG4     PPGENDER
Midwest    Female       97.98
           Male         61.31
Northeast  Female       81.88
           Male         51.69
South      Female      163.00
           Male        118.41
West       Female       93.03
           Male         69.19
dtype: float64

1: PPREG4     PPGENDER
Midwest    Female      169.70
           Male        157.50
Northeast  Female      150.84
           Male        126.96
South      Female      287.15
           Male        276.32
West       Female      179.75
           Male        170.95
dtype: float64

1: PPREG4     PPGENDER
Midwest    Female      0.577372
           Male        0.389270
Northeast  Female      0.542827
           Male        0.407136
South      Female      0.567648
           Male        0.428525
West       Female      0.517552
           Male        0.404738
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.583527
           Male        0.390162
Northeast  Female      0.552758
           Male        0.410238
South      Female      0.573984
           Male        0.433704
West       Female      0.556000
           Male        0.408442
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.229051
           Male        0.268891
Northeast  Female      0.250017
           Male        0.265911
South      Female      0.256776
           Male        0.251727
West       Female      0.300631
           Male        0.278215
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.611653
           Male        0.454778
Northeast  Female      0.453470
           Male        0.367263
South      Female      0.622016
           Male        0.428304
West       Female      0.463243
           Male        0.373072
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.019962
           Male        0.073487
Northeast  Female      0.054474
           Male        0.077190
South      Female      0.043469
           Male        0.067288
West       Female      0.032355
           Male        0.091434
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.786766
           Male        0.728254
Northeast  Female      0.640496
           Male        0.640359
South      Female      0.729892
           Male        0.656530
West       Female      0.724759
           Male        0.641322
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.140837
           Male        0.189591
Northeast  Female      0.158373
           Male        0.165249
South      Female      0.098580
           Male        0.179340
West       Female      0.102706
           Male        0.199428
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.064997
           Male        0.089714
Northeast  Female      0.046652
           Male        0.114367
South      Female      0.053312
           Male        0.077442
West       Female      0.076047
           Male        0.057652
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.050867
           Male        0.097016
Northeast  Female      0.077369
           Male        0.070495
South      Female      0.030495
           Male        0.087357
West       Female      0.056493
           Male        0.068749
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.056373
           Male        0.034276
Northeast  Female      0.013624
           Male        0.028601
South      Female      0.000000
           Male        0.016790
West       Female      0.012512
           Male        0.009769
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.047559
           Male        0.047458
Northeast  Female      0.025786
           Male        0.026741
South      Female      0.017184
           Male        0.012443
West       Female      0.018298
           Male        0.021351
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.390370
           Male        0.276448
Northeast  Female      0.354791
           Male        0.341052
South      Female      0.410364
           Male        0.228071
West       Female      0.308137
           Male        0.240183
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.704853
           Male        0.529143
Northeast  Female      0.671807
           Male        0.580892
South      Female      0.719976
           Male        0.577941
West       Female      0.613913
           Male        0.569894
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.531011
           Male        0.450766
Northeast  Female      0.568165
           Male        0.456207
South      Female      0.607553
           Male        0.425026
West       Female      0.564496
           Male        0.505136
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.600390
           Male        0.646655
Northeast  Female      0.572195
           Male        0.714263
South      Female      0.650965
           Male        0.638780
West       Female      0.578841
           Male        0.632883
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.702655
           Male        0.506159
Northeast  Female      0.717499
           Male        0.449432
South      Female      0.684362
           Male        0.468767
West       Female      0.539272
           Male        0.478121
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.491158
           Male        0.441263
Northeast  Female      0.517476
           Male        0.397369
South      Female      0.508009
           Male        0.438626
West       Female      0.396615
           Male        0.387873
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.209036
           Male        0.271493
Northeast  Female      0.229941
           Male        0.272290
South      Female      0.247345
           Male        0.212427
West       Female      0.203527
           Male        0.242090
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.744964
           Male        0.659730
Northeast  Female      0.772939
           Male        0.642055
South      Female      0.711345
           Male        0.572537
West       Female      0.670368
           Male        0.624391
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.322807
           Male        0.381621
Northeast  Female      0.329230
           Male        0.475981
South      Female      0.360891
           Male        0.267896
West       Female      0.391173
           Male        0.321989
dtype: float64

PPREG4     PPGENDER
Midwest    Female      0.723493
           Male        0.718603
Northeast  Female      0.754928
           Male        0.714871
South      Female      0.723328
           Male        0.617276
West       Female      0.782158
           Male        0.612581
dtype: float64